body {
    width: 100%;
    height: 100%;
}

.scene {
    background    : linear-gradient(#e4e0ba, #f7d9aa);
    position      : absolute;
    width         : 100%;
    height        : 100%;
    overflow      : hidden;
    display       : flex;
    flex-direction: column;
}

.side-navbar {
    border: 1px solid red;
    width : 100%;
    height: 50px;
}

.canvas {
    border: 1px solid blue;
    width: 100%;
    height: 80%;
}