html, body {
    background: #f2f6f8;
    font-family: 'Montserrat', sans-serif;
}

.bg-img {
    width: 100%;
    height: 100%;
    position: absolute;
    /* z-index : 0; */
}

#game-canvas {
    position: absolute;
}

#canvas-container {
    position: relative;
}